//Container
.infinite-container-flex{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.infinite-container-flex--vertical{
  @extend .infinite-container-flex
}
.infinite-container-flex--horizontal{
  @extend .infinite-container-flex
}

//Items
.infinite-flex-item{
  flex-grow: 0;
}

////////////////////////////
// for testing only
body {
  background-color: grey;
}
.main {
  width: 70vw;
  background-content: green;
}