//Container
.infinite-flex-container{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.infinite-flex-container--vertical{
  @extend .infinite-flex-container
}
.infinite-flex-container--horizontal{
  @extend .infinite-flex-container
}

//Items
.infinite-flex-item{
  flex-grow: 0;
}

////////////////////////////
// for testing only
body {
  background-color: grey;
  margin: 0 0 0 0;
}
.main {
  width: 50vw;
  height: 50vh;
  position: fixed;
  left: 0;
  top: 0;
}
.second {
  width: 50vw;
  height: 50vh;
  position: fixed;
  left: 0;
  bottom: 0;
}
.third {
  width: 50vw;
  height: 50vh;
  position: fixed;
  right: 0;
  top: 0;
}
.fourth {
  width: 50vw;
  height: 50vh;
  position: fixed;
  right: 0;
  bottom: 0;
}