body {
  background-color: #2d2d2d;
  color: #000000;
  font-family: 'PT Sans', sans-serif;
  --paper-color: #00efcf;
  --light-grey: #e5e5e5;
  --medium-grey: #c3c3c3;
  --dark-grey: #2d2d2d;
}

.container {
  display: grid;
  grid-template-areas: "head"
                       "body";
  grid-template-rows: 7em 1fr;
  grid-template-columns: 100% 1fr;
  grid-gap: 1em;
  padding: 1em;
}

.header {
  grid-area: head;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  color: var(--light-grey);
}

.header h1 {
  font-size: 5em;
  font-weight: bolder;
  margin: 0;
}

.header p {
  margin: 0;
  flex-grow: 1;
}

.header a {
  text-align: right;
  font-size: 1.5em;
  color: var(--paper-color);
  text-decoration: none;
}

.subheader {
  grid-area: subhead;
  color: var(--light-grey);
  padding: 0.5em;
}

.subheader a {
  color: var(--paper-color);
}

.examples-container {
  grid-area: body;
  padding: 1em;
}

.example-container {
  display: grid;
  /*grid-template-areas: defined in media query */
  grid-template-columns: 60% 1fr;
  grid-gap: 1em;
  padding: 1em 0;
}

.example-title {
  grid-area: title;
  color: var(--paper-color);
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.5em;
  /*background: linear-gradient(to right, var(--paper-color) 0%,rgba(0,0,0,0) 100%);*/
}

.example-title:after {
    content: "";
    height: 1px;
    background: linear-gradient(to right, var(--paper-color) 0%,rgba(0,0,0,0) 100%);
    display: block;
}

.left-column {
  grid-area: left;
  color: var(--light-grey);
  height: 100%;
}

.right-column {
  position: relative;
  grid-area: right;
  background-color: var(--paper-color);
  color: var(--dark-grey);
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,1);
  height: 100%;
}

.right-column-backpaper--1 {
  position: absolute;
  background-color: var(--paper-color);
  transform: translate(2px) rotate(1deg);
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,1);
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
}

.right-column-backpaper--2 {
  position: absolute;
  background-color: var(--paper-color);
  transform: translate(-2px) rotate(-1deg);
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,1);
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
}

.column-item-content {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-weight: bold;
}

.code-block {
  width: 100%;
  white-space: pre;
  color: black;
  background-color: var(--medium-grey);
  font-family: 'PT Mono', monospace;
  font-size: 0.8em;
  font-weight: normal;
  border: 1px dashed;
  padding: 0.5em;
  margin: 0.5em 0;
}

.example-box {
  height: 25vh;
  width: 100%;
}

.button {
  background-color: var(--medium-grey);
  margin: 0 4px;
}

@media only screen and (max-width: 500px) {
  .example-container {
    grid-template-areas: "title title"
                         "left left"
                         "right right";
  }
}
@media only screen and (min-width: 501px) {
  .example-container {
    grid-template-areas: "title title"
                         "left right";
  }
}
